@charset "UTF-8";
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin: 8px;
}
header nav ul {
  list-style-type: none;
  margin-bottom: 50px;
}
header nav ul li {
  margin-right: 8px;
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  transition: 1s;
  color: black;
  font-weight: bold;
  font-size: 12px;
}
header .logo {
  width: 300px;
  margin-top: 20px;
  margin-left: 150px;
}
header .botonreservar {
  margin-bottom: 50px;
  margin-right: 100px !important;
  color: black;
  background-color: #b5bdbd;
  border-radius: 20px;
}

body {
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #f0f1e8;
}

.primersection .container-principio {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.primersection .container-principio .imgperro1 {
  width: 300px;
  height: 400px;
  margin-right: 90px;
  margin-left: 60px;
  margin-bottom: 15px;
}
.primersection .container-principio .imgperro2 {
  width: 350px;
  height: 380px;
  margin-right: 95px;
}
.primersection .container-principio .imgperro3 {
  width: 380px;
  height: 500px;
}
.primersection h1 {
  margin-left: 80px;
  margin-top: 10px;
}
.primersection .botonreservar {
  margin-top: 20px;
  margin-left: 80px !important;
  margin-bottom: 100px;
  background-color: #b5bdbd;
  border-radius: 20px;
}

.segundocontenedor {
  margin: 0 !important;
  background-color: #b5bdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.segundocontenedor .giftperro {
  margin-top: 50px;
  width: 130px;
  height: 150px;
}
.segundocontenedor h2 {
  color: black;
}
.segundocontenedor p {
  text-align: center;
  width: 50%;
}
.segundocontenedor .botonreservar {
  margin-bottom: 50px;
  color: black;
  background-color: white;
  border-radius: 20px;
}

.servicios {
  background-color: #42573E;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.servicios h3 {
  margin-top: 130px;
  margin-bottom: 20px;
  margin-left: 60px;
  font-weight: bold;
}
.servicios .subtitulo {
  margin-top: 15px;
  font-size: 32px;
  margin-left: 60px !important;
}
.servicios p {
  margin-left: 60px;
  width: 70%;
  margin-top: 40px;
}
.servicios .botonreservar {
  margin-top: -60px;
  color: black;
  background-color: white;
  border-radius: 20px;
  margin-right: 100px !important;
}
.servicios .segundaseccion {
  display: flex;
  flex-direction: row;
  margin-left: 170px;
}
.servicios .segundaseccion .card1 {
  border: 2px solid #000;
  /* Puedes cambiar el grosor y el color del borde según tus preferencias */
  padding: 5px;
  background-color: #f0f1e8;
  margin: 40px;
  width: 415px;
}
.servicios .segundaseccion .card1 .imgperro {
  width: 400px;
  height: 400px;
}
.servicios .segundaseccion .card1 .titulocard {
  font-size: 20px;
  margin-left: 14px;
}
.servicios .segundaseccion .card1 .botonlugar {
  background-color: #f0f1e8;
  border-radius: 20px;
  margin-top: -50px;
}
.servicios .segundaseccion .card1 .textocard {
  margin-top: 15px;
  margin-left: 14px;
  width: 85%;
}
.servicios .segundaseccion .tijera {
  width: 110px;
  height: 120px;
  margin-left: 1px;
  margin-top: 650px;
}

.clientes {
  background-color: #B6BEBE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clientes .imgperropeludo {
  width: 170px;
  height: 220px;
  margin-right: 680px;
}
.clientes .arribadeimg {
  display: flex;
  flex-direction: column;
  margin-top: -280px !important;
  margin-bottom: -18px;
  margin-right: 380px !important;
}
.clientes .arribadeimg h3 {
  margin-top: 130px;
  margin-left: 350px;
  font-weight: bold;
}
.clientes .arribadeimg .subtitulo {
  margin-top: 5px !important;
  margin-top: 15px;
  font-size: 32px;
  margin-left: 335px !important;
}
.clientes .direcciondelascard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 30px !important;
}
.clientes .direcciondelascard .card1 {
  border: 2px solid #000;
  /* Puedes cambiar el grosor y el color del borde según tus preferencias */
  padding: 5px;
  background-color: #f0f1e8;
  margin: 40px;
  width: 320px;
  margin-left: 60px !important;
}
.clientes .direcciondelascard .card1 .imgperrocliente {
  width: 300px;
  height: 250px;
}
.clientes .direcciondelascard .card1 .textocard {
  margin-top: 25px;
  margin-left: 14px;
  width: 90%;
  margin-bottom: 50px;
}

.formulario h3 {
  margin-top: 40px;
}
.formulario .textocard {
  margin-top: 10px;
  width: 35%;
}
.formulario .form {
  margin-left: 600px;
  margin-top: -180px;
  margin-bottom: 60px;
}

footer {
  background-color: #B6BEBE;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .imgfooter {
  margin-top: 20px;
  width: 150px;
  margin-bottom: 50px;
}
footer .direcciondelascard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .direcciondelascard .card1 {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 5px;
  background-color: #f0f1e8;
  margin: 40px;
  width: 200px;
  margin-left: 60px !important;
}/*# sourceMappingURL=style.css.map */