.formulario{
    h3{
        margin-top: 40px;
    }

    .textocard{
        margin-top: 10px;
        width: 35%;
    }
    
    .form{
        margin-left: 600px;
        margin-top:-180px;
        margin-bottom: 60px;
    }
}