header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:30px;
    margin: 8px;

    .navbar{
        display: none;
    }
    nav {

        ul {
            list-style-type: none;
            margin-bottom:50px;

            li {
                margin-right: 8px;
                display: inline;
                a {
                    text-decoration: none;
                    transition: 1s;
                    color:black;
                    font-weight: bold;
                    font-size: 12px;

                }
            }
        }
    }
    .logo {
        width: 300px;
        margin-top: 20px;
        margin-left:240px !important;
    }
    .botonreservar{
        margin-bottom:50px;
        margin-right: 100px !important;
        color:black;
        background-color: #b5bdbd;
        border: 2px solid #000; 
        border-radius: 20px;
        box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.99);
        -webkit-box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.99);
        -moz-box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.99);
        transition: transform 0.3s ease;
        &:hover {
            transform: rotate(-10deg); 

          }
    }
}