.servicios{
    background-color:#42573E;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    h3{
        margin-top: 130px;
        margin-bottom: 20px;
        margin-left: 60px;
        font-weight: bold;
  }
     .subtitulo{
        margin-top:15px;
        font-size: 32px;
        margin-left: 60px !important;
     }

     p{
        margin-left: 60px;
        width: 50%;
        }
    
        .botonreservar{
         
            color:black;
            background-color: white;
            border-radius: 20px;
            margin-right: 100px !important;
        }
     .card1{
        .imgperro{
            width: 350px;
            height: 350px;
        }
      }

     .card2{
        .imgperro{
            width: 350px;
            height: 350px;
        }
         }

    // .card3{

    //     }

    }